body{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
}
.left{
    justify-self: center;
    display: block;
    margin-left: 50px;
    font-family: monospace;
}
.buttons{
    font-family: monospace;
    display: block;
    justify-self: center;
    justify-items: center;

}
#input{
    margin-left: 5px;
    
}
input{
    width: 100px;
    font-family: monospace;
}
.input{
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 300px;
    flex-wrap: wrap;
}
.submit{
    width: 100px;
    margin-top: 5px;
    justify-self: flex-start;
    font-family: monospace;
    background-color: white;
    border-style: solid;
    border-color:black;
    border-width: 1px;
    border-radius: 5px;
}
.colorTitle{
    font-family: monospace;
    font-size: 20px;
    justify-self: center;
}
.colors{
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    font-family: monospace;
    flex-direction: column;
    margin-top: 20px;
}

h1{
    font-family: monospace;
    font-size: 40px;
    display: block;
    justify-self: center;
}

.reset{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    background-color: white;
    font-family: monospace;
    font-size: larger;
    padding: 5px;
    width: 100px;
    border-style: solid;
    border-color:black;
   
}
:focus {
    outline: none;
    outline-color: none;
    outline-style: none;
    outline-width: none;
       
    }


.container{
    display:flex;
    width: 700px;
    height: 400px;
    background-color:white;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.pixel{
    background-color: rgb(184, 184, 184);
    border-width: 1px;
    display: inline-flex;
}